body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
*{
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.avatar{
  height: 60px;
}
.avatar_contacts{
  height: 15px;
}

#listy{
  /* border: 1px solid black; */
  padding: 12px;
  /* margin:30px; */
  height: 88vh;
  display: flex;
  justify-content: center;
  overflow: scroll;
  flex-wrap: wrap;
  
}
/* Hide scroll bar */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#contact{
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(125, 106, 221, 0.413);
  width: 27%;
  border-radius: 4px;
  line-height: 1.0;

}
#listy1{
  
  border: 1px solid rgba(125, 106, 221, 0.413);
  width: 35%;
  

}

#contact:hover{
  border: 3px solid rgba(125, 106, 221, 0.413);
  
}
.details{
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.note{
  margin-top: 4px;
  border-bottom: 1px dashed black ;
  border-radius: 10px;
  
}
.filter{
  padding: 5px;
  margin: 10px;
  border-radius: 4px;
  width: 30%;
  
}

#filter{
margin: 10px 10px 0px 10px;

display: flex;
justify-content: space-between;

}
#sort{
  display: flex;
  justify-content: flex-end;
  width: 50%;

}
#top_org{
  background-color:  rgba(175, 106, 221, 0.071);
  border-radius: 0px 10px 10px 10px;
  padding: 20px;
  margin: 0px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  width:35%;
}
#form{
  width: 55%;
}
#img_name{
  display: flex;
  align-items: flex-end;

}
#email_ad{
  display: flex;
  flex-direction: column;
  
}
#org_order{
  display: flex;
  padding: 20px;
  height:94vh;
}
#user{

  height:89vh;
  overflow: scroll;
  width:55%;

}
#user_specific{
  border: 1px solid rgba(125, 106, 221, 0.413);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  
}
#user_specific:hover{
  border: 3px solid rgba(125, 106, 221, 0.413);

}
#note{
  background-color:  rgba(175, 106, 221, 0.071);
  width: 100%;
  border-radius: 10px;
}

/* Profile.css */

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-content {
  width: 55%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar_contacts {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.username-gender {
  margin-left: 10px;
}

.contact-details {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-note {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}
#cont{
  /* border: 1px solid black; */
  width: 75%;
}
#top_org input{
  padding: 5px;
  border-radius: 4px;
  margin: 10px 0px 10px 10px;
  width: 100%;
}
.btn1 {
  background-color: #4c00b4;
  color: #fff;
  padding: 8px 16px;
  border: 1px solid #4c00b4;
  border-radius: 4px;
  margin-right: 10px; /* Adjust margin as needed */
  cursor: pointer;
}
#top_org button {
  background-color: #4c00b4; /* Red color for delete button */
  color: #fff;
  padding: 8px 16px;
  border: 1px solid #4c00b4;
  border-radius: 4px;
  margin-right: 10px; /* Adjust margin as needed */
  cursor: pointer;
}